<p>This page demonstrates the use of json data. You can edit the books at <code>data/books.json</code></p>

<ul>
{{#each books }}
  <li><strong>{{this.title}}</strong> by {{this.author}}</li>
{{/each}}
</ul>
