<p>Thanks for using our Yeoman generator. If you’re looking at this in your browser that means you have already set everything up.</p>

<p>Now you should take a look at the <code>src</code> folder. Add the correct information in <code>data/data.yml</code>, create new pages under <code>pages/</code> and so on.</p>

<p>Also feel free to customize the <code>gulpfile.js</code>, as this is only a starting point.</p>
