<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello {{site_title}}!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{> load-assets }}
    {{> favicons }}
  </head>
  <body>

    {{> site-navigation }}

    {% body %}

  </body>
</html>
