<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello {{site_name}}!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{> load-assets }}
    {{> favicons }}
  </head>
  <body>

    {{> site-navigation }}

    {% body %}

    {{!-- Google Analytics anonymized --}}
    {{!-- Don't forget to add your ID in `data/data.yml` --}}
    <script type="text/javascript">
      'use strict';
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ data.google_analytics_id }}']);
      _gaq.push (['_gat._anonymizeIp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    {{!-- Structured Data --}}
    {{!-- https://developers.google.com/structured-data/site-name --}}
    {{!-- Don't forget to add your information in `data/data.yml` --}}
    <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "{{ data.site_name }}",
       "url" : "http://www.example.com"
    }
    </script>
  </body>
</html>
